.section-weather {
  max-width: 414px;
  margin: 0 auto;
}


.card {
  //FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;


  &__side {
    height: 75rem;
    transition: all 0.9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);

    &-default {
      background-image: linear-gradient(to bottom right, 
        rgba(#75b4e3, 0.2),
        rgba(#2b235a, 0.5)),
        url('../img/default-bg-1.jpg');
        background-size: cover;
        background-position: bottom;

    }

    &-results {
      transform: rotateX(180deg);
      background:  rgba(#778899, 0.2);

    }
  }

}

.results {
  &--header {
    background-image: linear-gradient(to bottom right,
    rgba($color-primary-light, 0.5),
    rgba($color-primary-dark, 0.5)),
    url('../img/result-header-1.jpg');
    background-size: cover;
    background-position: bottom;
    max-height: 35rem;
    height: 35rem;
    display: grid;
    align-items: flex-end;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5)
  }
  &_details {
    display: grid;
    padding: 3rem;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    font-size: 3rem;

    &--description {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
    & p {
      display: inline-block;
    }
  }
  &_grid {
    &--item {
      margin: 1rem;
      }
      &--one {
        grid-column: 1 / span 2;
      }
  }
}


