body {
  // background: #222E50 !important;
  background: rgb(34, 46, 80);
  background: rgb(34, 46, 80);
  background: linear-gradient(0deg, rgba(34, 46, 80, 1) 0%, rgba(0, 121, 145, 1) 50%, rgba(67, 154, 134, 1) 100%);
  height: 100vh !important;
  // position: relative;
}

.weatherbox-container {
  background-color: $color-white;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  margin-top: 6rem;
  border-radius: 3px;

  &--values {
    height: 40vh;
    background-image: linear-gradient(105deg,
        rgba($color-four-light, .9) 0%,
        rgba($color-four-light, .3) 80%,
        transparent 100%), url('../css/assets/night_one.png');
    background-position: center;
    background-size: cover;
    padding: 2rem;
    background-color: gray;
    text-align: center;
    color: $color-white;
    font-size: 2rem;

    & h1 {
      font-size: 5rem;
    }

    &__left {
      margin: 10rem;
      text-align: left;
      font-size: 3rem;
      font-weight: 300;

      & h2 {
        font-size: inherit;
        font-weight: 700;
        font-size: 4rem;
      }

      &__humid {
        border-right: 1px solid $color-four-light;
      }

      &__feels {
        margin-left: 2rem;
      }

      &__humid,
      &__feels {
        font-size: 2rem;
        display: inline-block;
        width: 13%;
      }
    }


  }
}

img {
  width: 25%;
}

.loading-container {
  // background-color: $color-white;
  width: 80%;
  margin-bottom: 1rem !important;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: 10rem;
}

.search-location {
  background-color: $color-white;
  width: 43.4%;
  margin-bottom: 1rem !important;
  margin: 0 auto;
  border: 3px solid $color-primary;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.9s all;
  z-index: 10000;

  &__searched {
    top: 50px;

  }

  & input {
    width: 90%;
    padding: 1rem;
    border: none;
    font-size: 2rem;
    text-align: center;

    &:focus {
      border: none;
      outline: none;
    }
  }

  & button {
    background-color: $color-primary;
    height: 100%;
    width: 10% !important;
    padding: 0.5rem;
    display: inline-block;
    position: absolute;
    border: none;
    outline: none;
    transform: translate(0);
    transition: 0.3s all;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba($color-black, 0.1);
    }

    &:focus,
    &:active {
      transform: translateY(0px);
    }

    ;
  }
}

.weatherbox-forecast {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
  color: $color-white;

  &__box {
    color: $color-secondary-dark;
    padding: 2rem;
    width: 17%;
    // background-color: $color-primary;
    text-align: center;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    margin: 1rem;
    display: inline-block;

    & p {
      font-size: 1.5rem;
      margin: 1rem;

    }

    & h1 {
      font-size: 2rem;
      margin: 1rem;
    }

    & img {
      width: 80% !important;
    }
  }
}