/*
0 - 600px: Phone
600px - 900px: Tablet - Portrait Mode
900px - 1200px: Tablet - Landscape Mode
1200px - 1800px: Desktop || Normal styles apply here.
1800px+: Big Screen
$breakpoint argument choices
- phone
- tab-port
- tab-land
-big-desktop
ORDER: Base + Typography > general layout + grid > page layout > components
1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  max-width: 1920px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  background-color: $color-white;
 }

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 3rem;
 }


 